<div class="search">

    <div class="search-filter">
        <input type="text" class="filter-input" placeholder="Search..." ng-model="searchText">
    </div>

    <ul class="search-icons">
        <li class="icon" ng-repeat="icon in icons | array | filter:searchText" ng-click="addToTray(icon)">
            <img class="icon-image" ng-src="images/{{icon.href}}">
            <!-- <span>{{icon.filename}}</span>
            <input type="text" class="name" value="{{icon.href | clean}}"> -->
        </li>
    </ul>

    <div class="search-tray" ng-show="selectedIcons.length > ''">

        <ul class="tray-selected-icons">

            <li class="icon" ng-repeat="icon in selectedIcons" ng-click="">
                <a href="http://icons.dev/app/images/{{icon.href}}" download="{{icon.filename}}.svg">
                    <img class="icon-image" ng-src="images/{{icon.href}}">
                </a>
            </li>

            <li class="download">
                <a href="" class="download-link" ng-click="clear()">Clear</a>
            </li>

        </ul>
    </div>

</div>
